.sidebar {
    width: 150px;
    background: #d0d0d0;
    background-image: url('../Attijariegris.jpg');
    color: #4a4a4a;
    font-family: Bodoni MT;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar div {
    margin-bottom: 15px;
    padding: 4px;
    cursor: pointer;
    transition: background 1s;
  }
  
  .sidebar div:hover {
    background: #d0d0d0;
  }

  .bouton15 {
  align-items: center;
  background-color: transparent;
  color: #4a4a4a;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

.bouton15:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.bouton15:hover:before {
  background-color: #fff;
  width: 1.4rem;
}